#logo,#logolast{width: 130px;}
*{ font-family: arial;padding: 0; margin: 0; box-sizing: border-box;}



header{background-color: rgb(66, 185, 249); display: flex; flex-direction: row; justify-content: space-around; align-items: center;}
#upper{display: flex; flex-direction: row; gap: 50px;  font-weight:bolder;}
a{ color: white; text-decoration: none; font-weight:bolder; font-size: larger;}
#upper li{ list-style-type: none;}

#s1{display: flex; flex-direction: column; justify-content: space-around; align-items: center; height: 600px;}
#s2{display: flex; flex-direction: column;  justify-content: center; background-color: deepskyblue; font-family: Arial, Helvetica, sans-serif; text-align: center; height:300px; color: white;}
h2{color: white; padding: 20px;}

.arimg{width: 250px; height:200px; border-radius: 50px;}
li a:hover{color:rgb(149, 255, 0);}
h1{ font-size:xx-large}
   

    #s1, p{ align-content: center;}



    #s3{ height: 700px; display: flex; flex-direction: row; justify-content: space-around; align-items: center;}
    #avatar{ height:400px;}
    ol li{  list-style-type: none;}
 .artcle1{ margin-left: 20px;  display: flex; flex-direction: column;  align-items: center; justify-content: space-between; align-content: center;   width:30%; text-align: center; box-shadow:;  }
h3{ font-size: larger; padding:10px; display: flex; flex-direction: row;}
h4{ padding: 50px;}


#div4{height: 500px ; display: flex;}
#page2s2{
    background-color: rgb(66, 185, 249);
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#secondpagediv{
    display: flex;
    flex-direction: column;
  
    gap: 1.5rem;
    width: 300px;
    
}
